@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist

<h4>Add a new stylist</h4>
<hr />
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.StylistFirstName)
  @Html.TextBoxFor(model => model.StylistFirstName)
  @Html.LabelFor(model => model.StylistLastName)
  @Html.TextBoxFor(model => model.StylistLastName)
  <input type="submit" value="Add new stylist" />
}
<hr />
<p>@Html.ActionLink("Show all stylists", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>