@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Edit</h2>
<hr />
<h4>Edit this client: @Html.DisplayFor(model => model.ClientFirstName) @Html.DisplayFor(model =>model.ClientLastName)</h4>
<hr />
@using (Html.BeginForm())
{
  @Html.HiddenFor(model =>model.ClientId)
  @Html.LabelFor(model =>model.ClientFirstName)
  @Html.EditorFor(model =>model.ClientFirstName)
  @Html.LabelFor(model =>model.ClientLastName)
  @Html.EditorFor(model =>model.ClientLastName)

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")

  <input type="submit" value="Save" />
}
<hr />
<p>@Html.ActionLink("Delete client", "Delete", new { id = Model.ClientId})</p>
<p>@Html.ActionLink("Back to clients", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>